.place-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0px 10px;
}

.place-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.place-info {
  flex: 1;
}

.restaurant-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0px 10px;
}

.restaurant-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.restaurant-info {
  flex: 1;
}

.sleep-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0px 10px;
}

.sleep-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sleep-info {
  flex: 1;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 90px 10px 40px;
  position: relative;
}

.button-group button {
  padding: 8px 16px;
  border: none;
  background-color: #f0f0f0;
  color: black;
  cursor: pointer;
  border-radius: 50px;
}

.button-group button.active {
  background-color: #4373D0;
  color: white;
}

.list-item-img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.info-button {
  background-color: #4373D0;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.info-button:hover {
  background-color: #375eac;
}

.loading-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 100px;
}

.loading-spinner2 {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #4373D0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@media (max-width: 768px) {
  .button-group {
    margin: 60px 5px 20px;
  }

  .button-group button {
    padding: 7px 12px;
  }

  .list-item-img {
    width: 150px;
    height: 100px;
  }

  .place-list {
    gap: 5px;
    margin: 0px 10px;
  }

  .place-item {
    gap: 10px;
  }

  .restaurant-list {
    gap: 5px;
    margin: 0px 10px;
  }

  .restaurant-item {
    gap: 10px;
  }

  .sleep-list {
    gap: 5px;
    margin: 0px 10px;
  }

  .sleep-item {
    gap: 10px;
  }

  .place-info h2 {
    font-size: 3vw;
  }
  
  .place-info p {
    font-size: 2.5vw;
  }

  .restaurant-info h2 {
    font-size: 3vw;
  }
  
  .restaurant-info p {
    font-size: 2.5vw;
  }

  .sleep-info h2 {
    font-size: 3vw;
  }
  
  .sleep-info p {
    font-size: 2.5vw;
  }

  .info-button {
    font-size: 10px;
    padding: 5px 7px;
  }

  .loading-container2 {
    margin-top: 50px;
  }
  
  .loading-spinner2 {
    border: 12px solid #f3f3f3;
    border-top: 12px solid #4373D0;
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 500px) {
  .list-item-img {
    width: 110px;
    height: 80px;
  }

  .place-info h2 {
    font-size: 4vw;
  }
  
  .place-info p {
    font-size: 3vw;
  }

  .restaurant-info h2 {
    font-size: 4vw;
  }
  
  .restaurant-info p {
    font-size: 3vw;
  }

  .sleep-info h2 {
    font-size: 4vw;
  }
  
  .sleep-info p {
    font-size: 3vw;
  }

  .info-button {
    font-size: 2vw;
    padding: 4px 5px;
  }
}