.surrounding {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.locationsetting-section {
  background-color: #f7f7f7;
  width: 25%;
  min-height: 700px;
  margin: 80px 0 40px auto;
}

.location-button {
  background-color: #e6e6e6;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 5px 8px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s, transform 0.2s;
}

.location-button:hover {
  background-color: rgba(215, 223, 241, 0.852);
  transform: scale(1.05);
}

.location-button:active {
  transform: scale(0.95);
}

.surroundingsearch-container {
  margin-bottom: 20px;
  display: flex;
  margin-top: 10px;
}

.surroundingsearch-input {
  width: 50%;
  padding: 12px auto;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin: 0px 8px 0px 20px;
}

.surroundingsearch-button {
  padding: 10px 10px;
  font-size: 16px;
  color: #fff;
  background-color: #4373D0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.surroundingsearch-button:hover {
  background-color: #375eac;
}

.surroundingsearch-results {
  margin-top: 20px;
}

.results-list {
  list-style: none;
  padding: 0;
}

.results-list li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
  margin: 5px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.results-list li:hover {
  background-color: rgba(215, 223, 241, 0.395)
}

.surrounding-section {
  background-color: #f3f3f3;
  width: 60%;
  min-height: 700px;
  margin: 80px auto 40px 0;
}

.range-slider-container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.range-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  height: 8px;
  border-radius: 5px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

.range-slider:hover {
  opacity: 1;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4373D0;
  cursor: pointer;
}

.range-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4373D0;
  cursor: pointer;
}

.range-slider::-ms-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4373D0;
  cursor: pointer;
}

.category-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.category-button {
  background-color: #4373D0;
  border: none;
  color: white;
  padding: 8px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin: 0 20px 0 20px;
  transition: background-color 0.3s;
}

.category-button.active, .category-button:hover {
  background-color: #375eac;
}

.places {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.places p {
  text-align: center;
  font-size: 20px;
  color: gray;
}

.place {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  width: 15vw;
  min-width: 170px;
  max-width: 250px;
  padding: 10px;
  margin: 3px 5px;
}

.place img {
  width: 100%;
  height: auto;
  max-height: 170px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.place-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.place-name {
  font-size: 18px;
  color: #000000;
  margin-bottom: 5px;
}

.place-address {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.info-button2 {
  background-color: #4373D0;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
}

.info-button2:hover {
  background-color: #375eac;
}

@media (max-width: 768px) {
  .surrounding {
    flex-direction: column;
    margin-top: 2px;
  }

  .locationsetting-section {
    width: 80%;
    min-height: 100px;
    margin: 50px auto 0;
  }

  .surroundingsearch-input {
    width: 68%;
    font-size: 12px;
  }
  
  .surroundingsearch-button {
    padding: 10px 10px;
    font-size: 12px;
  }

  .results-list li {
    font-size: small;
    padding: 12px;
    margin: 5px 20px;
  }

  .surrounding-section {
    width: 80%;
    min-height: 400px;
    margin: 0px auto 40px;
  }

  .category-button {
    padding: 5px 10px;
    font-size: 13px;
    margin: 0 5px 0 5px;
  }

  .places p {
    font-size: 18px;
  }

  .place {
    width: 120px;
    min-width: 100px;
    padding: 6px;
    margin: 0;
  }

  .place img {
    max-height: 100px;
  }
  
  .place-name {
    font-size: 15px;
    margin-bottom: 5px;
  }
  
  .place-address {
    font-size: 10px;
    margin-bottom: 10px;
  }
}