.events-container {
    display: flex;
    height: 100vh;
    position: relative;
  }
  
  .sidebar-left, .sidebar-right {
    width: 20%;
    background-color: rgba(200, 200, 200, 0.5);
    padding: 20px;
    box-sizing: border-box;
  }

  .search-input {
    width: 60%;
    height: auto;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }

  .add-button {
    width: 40px;               
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 50%;
    background-color: #1e90ff;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s; 
  }
  
  .add-button:hover {
    background-color: #4682b4;
  }
  
  .sidebar-left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
  }
  
  .sidebar-right {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
  }
  
  .map-container {
    flex-grow: 1;
    background: url('../img2.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
  }
  
  .delete-button {
    background-color: #ff4d4d;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .delete-button:hover {
    background-color: #ff1a1a;
  }