.GTup-section {
  display: flex;
  flex-direction: row;
  margin: 100px auto 70px auto;
  width: 80%;
}

.busanmap-section {
  width: 50%;
  background-image: url('../busanmap.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 70px auto 0;
}

.maptheme-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px auto;
  font-size: 16px;
}

.maptheme-section h2 {
  margin: 30px 10px 15px;
}

.GTbutton-group {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: center;
  align-items: center;
}

.selection-button {
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px 12px;
  margin: 5px 4px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.selection-button:hover {
  background-color: #e0e0e0;
}

.selection-button.selected {
  background-color: #4373D0;
  color: white;
}

.submit-button-container {
  width: 80%;
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.submit-button {
  background-color: #4373D0;
  width: 35%;
  max-width: 130px;
  border: none;
  color: white;
  padding: 10px 5px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin: 25px auto 0;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #375eac;
  transform: scale(1.05);
}

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red; 
}

.no-results-message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #888;
}

.results-container {
  background-color: white;
  width: 75%;
  margin: 0 auto 40px;
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.result-item {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 45px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 40%;
  max-width: 250px;
  height: auto;
  margin: 4px 2px;
  position: relative;
}

.result-content {
  flex-direction: column;
  align-items: center;
}

.result-image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.result-details {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.result-title {
  font-size: 1.4em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.result-hldy-info {
  margin-top: 2px;
  font-size: 0.9em;
  color: #666;
}

.course-button {
  background-color: #4373D0;
  border: none;
  color: white;
  padding: 6px 12px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  max-width: 80px;
  width: 100%;
}

.course-button:hover {
  background-color: #375eac;
  transform: translateX(-50%) scale(1.05);
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 50px;
}

.loading-spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.popup-overlay {
  position: fixed;
  top: 30px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  border-radius: 10px;
  max-width: 700px;
  width: 90%;
  max-height: 80vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

.popup-image-container {
  flex: 0 1 auto;
}

.popup-image {
  width: 100%;
  height: auto;
}

.popup-text {
  padding: 24px;
  flex: 1;
  font-size: 1.2em;
  line-height: 1.8;
}

@media (max-width: 768px) {
  .GTup-section {
    margin: 70px auto;
    flex-direction: column;
  }

  .busanmap-section {
    width: 100%;
    min-height: 250px;
    margin: 0 auto 0;
  }

  .maptheme-section {
    width: 100%;
    font-size: 12px;
  }
  
  .selection-button {
    padding: 4px 6px;
    margin: 4px 4px;
    font-size: 14px;
  }

  .submit-button-container {
    width: 70%;
  }

  .submit-button {
    width: 35%;
    max-width: 100px;
    font-size: 12px;
    margin: 20px auto -50px auto;
    padding: 6px 3px;
  }
  
  .no-results-message {
    font-size: 15px;
  }
  
  .results-container {
    width: 80%;
    min-height: 150px;
    gap: 5px;
  }
  
  .result-item {
    padding: 4px;
    padding-bottom: 30px;
    width: 42%;
    margin: 5px;
  }

  .result-title {
    font-size: 1em;
    margin-top: 6px;
    margin-bottom: 5px;
  }
  
  .result-hldy-info {
    margin-top: 1px;
    font-size: 0.7em;
  }
  
  .course-button {
    padding: 4px 10px;
    font-size: 10px;
    max-width: 50px;
  }

  .loading-container {
    margin-top: 25px;
  }
  
  .loading-spinner {
    width: 30px;
    height: 30px;
  }

  .popup-overlay {
    top: 20px;
  }

  .popup-content {
    max-width: 300px;
    width: 90%;
  }

  .popup-text {
    padding: 20px;
    font-size: 1em;
    line-height: 1.6;
  }
}