.mainimg-section {
  background-image: url('../tour.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 63%;
  margin: 60px auto 0;
  padding-top: 38.43%;
}

.suggestion-section {
  color: #333;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
}

.suggest-item {
  flex: 1;
  padding: 10px;
  margin: 0 2.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.suggest-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.suggest-item h2 {
  font-size: 18px;
  margin: 0;
}

.icon {
  width: 9vw;
  height: 9vw;
  margin-top: 10px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.icon.restaurant {
  background-image: url('../cook.png');
}

.icon.tourist {
  background-image: url('../trip.png');
}

.icon.accommodation {
  background-image: url('../hotel.png');
}

.festival-section {
  color: #fff;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  height: auto;
}

.festival-section h1 {
  font-size: 32px;
  color: #333;
  text-align: center;
  margin: 7vh auto 3vh;
}

.festival-container {
  width: 80%;
  margin: 0 auto 40px;
}

.festival-item {
  background-color: #f7f7f7;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  text-align: center;
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.1);
}
  
.festival-item img {
  width: 100%;
  height: auto;
  margin-bottom: 0;
  border-radius: 25px 25px 0 0;
  transition: transform 0.3s ease;
}

.festival-item h2 {
  font-size: 28px;
  margin-top: 15px;
  color: #333;
  padding: 10px;
}
  
.festival-item p {
  width: 100%;
  font-size: 18px;
  color: #666;
  padding: 5px;
}
  
.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-prev, .slick-next {
  width: 50px;
  height: 50px;
  z-index: 1;
}

.slick-prev:before,
.slick-next:before {
  font-size: 40px;
  color: #333;
}

.slick-prev {
  left: -60px;
}

.slick-next {
  right: -60px;
}
  
@media (max-width: 768px) {
  .mainimg-section {
    margin: 50px auto -10px;
  }

  .suggestion-section {
    margin-top: 20px;
  }

  .suggest-item h2 {
    font-size: 6.5px;
  }

  .festival-section h1 {
    font-size: 15px;
    margin: 5vh auto 2vh;
  }

  .festival-item h2 {
    font-size: 13px;
    margin-top: 5px;
  }
  
  .festival-item p {
    font-size: 8px;
  }
  
  .slick-prev:before,
  .slick-next:before {
    font-size: 25px;
  }

  .slick-prev {
    left: -45px;
  }
  
  .slick-next {
    right: -45px;
  }
}