.MC-section {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 120px auto 40px;
}

.MCup-section {
  display: flex;
  flex-direction: row;
}

.MCmap-section {
  width: 65vw;
}

.map-container {
  width: 60vw;
  height: 80vh;
  border-radius: 30px 0px 0px 30px;
  position: relative;
}

.MCplace-section {
  background-color: #f7f7f7;
  width: 35%;
  height: 80vh;
  border-radius: 0px 30px 30px 00px;
  overflow-y: auto;
}

.MCsearch-container {
  margin-bottom: 20px;
  margin-top: 10px;
}

.MCsearch-container h2 {
  font-size: 25px;
  font-weight: 500;
  margin: 20px 20px 25px;
}

.search-input {
  width: 41%;
  padding: 8px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin: 10px 8px 20px 15px;
}

.search-button {
  padding: 8px;
  font-size: 16px;
  color: #fff;
  background-color: #4373D0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 5px;
}

.search-button:hover {
  background-color: #375eac;
}

.MCpla-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.place-item2 {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 5px 5px 0px;
}

.place-item2 li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 6px 6px;
  margin: 0px 0px -6px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  flex: 1;
}

.place-item2 li:hover {
  background-color: rgba(215, 223, 241, 0.395)
}

.place-name2 {
  font-weight: bold;
  font-size: 18px;
}

.place-address2 {
  color: gray;
  margin-top: 5px;
  font-size: 16px;
}

.add-button {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 30px;
  height: 30px;
  cursor: pointer;
  align-items: right;
  margin-right: 20px;
  margin-top: 6px;
  color: #fff;
  background-color: #4373D0;
  border: none;
}

.add-button:hover {
  background-color: #375eac;
}

.MCbutton-group {
  background-color: white;
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 13px;
  padding: 20px 20px 0px;
}

.MCbutton-group button {
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 10px;
  font-weight: bold;
}

.day-button {
  background-color: #4373D0;
  border-radius: 40px;
  color: white;
}

.day-button:hover {
  background-color: #3a61b0;
}

.clipboard-button {
  background-color: #51CA71;
  border-radius: 10px;
  color: black;
}

.clipboard-button:hover {
  background-color: #41a45b;
}

.kakao-button {
  background-color: #ecd94a;
  border-radius: 10px;
  color: black;
}

.kakao-button:hover {
  background-color: #c1b13c;
}

.toggle-map-button {
  background-color: #f0f0f0;
  color: black;
  margin-left: auto; 
}

.toggle-map-button:hover {
  background-color: #d1d0d0;
}

.tip-button {
  background-color: #4373D0;
  border-radius: 50%;
  padding: 6px;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 10px;
}

.tip-window {
  position: absolute;
  right: 70px;
  top: 11px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 1px 3px #4373D0;
  padding: 0px;
  z-index: 1000;
  width: auto;
  padding: 0px;
  height: auto;
  text-align: center;
  color: black;
}

.tip-window p {
  font-size: 16px;
  font-weight: bold;
  margin: 4px;
}

.MCday-section {
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: center;
  padding: 10px;
  flex: 1;
}

.day-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.new-map-container {
  width: 100%;
  margin: 0px auto 10px;
  position: relative; 
  z-index: 2;
}

.day-container {
  background-color: #f3f3f3;
  padding: 8px;
  margin: 10px;
  width: 22vw;
  min-height: 20vw;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  position: relative;
}

.day-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-day-button {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 25px;
  height: 25px;
  border: none;
  margin-left: auto;
  border-radius: 50%;
  background-color: #DB5555;
  color: white;
  cursor: pointer;
}

.course-item {
  max-height: 150px;
  overflow-y: auto;
  margin-top: 10px;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  font-size: 20px;
}

.course-name {
  font-weight: bold;
}

.course-address {
  font-size: 18px;
  color: gray;
  margin-top: 10px;
  margin-bottom: -20px;
}

.delete-place-button {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 20px;
  height: 20px;
  border: none;
  margin-left: auto;
  background-color: #DB5555;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .MC-section {
    width: 85%;
    margin: 70px auto 40px;
  }

  .MCup-section {
    flex-direction: column;
  }

  .MCmap-section {
    width: 85vw;
  }

  .map-container {
    height: 40vh;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
  }
  
  .MCplace-section {
    height: 80vw;
    max-height: 300px;
    width: 100%;
    border-radius: 0 0px 25px 25px;
  }

  .MCsearch-container {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .MCsearch-container h2 {
    font-size: 18px;
    margin: 10px 10px 15px;
  }
  
  .search-input {
    width: 60%;
    padding: 8px;
    font-size: 12px;
    margin: 0px 6px 0px 12px;
  }
  
  .search-button {
    padding: 6px;
    font-size: 12px;
  }
  
  .place-item2 li {
    margin: 0px -2px -10px 12px;
    padding: 4px 4px;
    font-size: 10px;
  }

  .place-name2 {
    font-size: 12px;
  }
  
  .place-address2 {
    font-size: 9px;
  }

  .add-button {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-top: 10px;
  }

  .MCbutton-group {
    gap: 10px;
    margin-top: 15px;
    padding: 5px;
  }

  .MCbutton-group button {
    font-size: 2.2vw;
    padding: 4px 7px;
  }

  .tip-button {
    padding: 6px;
    font-size: 2.3vw;
    margin-right: 5px;
    margin-top: 5px;
  }
  
  .tip-window {
    right: 8vw;
    top: 5px;
  }
  
  .tip-window p {
    font-size: 2.2vw;
  }

  .MCday-section {
    padding: 2px;
    margin-top: 10px;
  }
  
  .day-container {
    width: 35vw;
    min-height: 30vw;
    margin: 5px 5px;
  }

  .day-header h3 {
    margin-top: 5px;
    font-size: medium;
  }

  .course-name {
    font-size: 14px;
  }
  
  .course-address {
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: -20px;
  }
}

@media (max-width: 445px) {
  .MCbutton-group {
    gap: 5px;
    padding: 1px;
  }

  .MCbutton-group button {
    font-size: 3vw;
    padding: 4px 4px;
  }

  .tip-button {
    padding: 6px;
    font-size: 3.1vw;
    margin-right: 1px;
    margin-top: 5px;
  }
  
  .tip-window {
    right: 11vw;
    top: 5px;
  }
  
  .tip-window p {
    font-size: 3vw;
  }
}