.hero-section {
  text-align: center;
  padding: 20px;
}

.feature-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.feature-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 350px;
  height: auto;
  margin: 10px auto;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.2s;
  position: relative;
}

.feature-card:hover {
  transform: scale(1.02);
}

.feature-card h2 {
  margin-top: 15px;
  margin-left: 10px;
  font-size: 24px;
  font-weight: bold;
}

.feature-card h3 {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: normal;
  color: gray;
}

.video-thumbnail {
  width: 100%;
  height: auto;
  display: block;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
}

.player-wrapper .react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.course-details {
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.day-section {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.2s;
  position: relative;
}

.day-section:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.day-section h4 {
  margin: 0;
  font-size: 1.4em;
  color: #333;
}

.day-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.day-section li {
  margin-bottom: 8px;
  font-size: 1em;
  color: #555;
}

.day-section li::before {
  content: "•";
  color: #007bff;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}