.place-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.place-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}

.place-info {
  flex: 1;
}

.place-info p {
  margin-right: 10px;
}

.restaurant-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.restaurant-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}

.restaurant-info {
  flex: 1;
}

.restaurant-info p {
  margin-right: 10px;
}

.sleep-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sleep-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}

.sleep-info {
  flex: 1;
}

.sleep-info p {
  margin-right: 10px;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  margin: 90px auto 40px;
  position: relative;
}

.button-group button {
  margin-right: 10px;
  padding: 8px 16px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 50px;
}

.button-group button.active {
  background-color: #4373D0;
  color: white;
}

.list-item-img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.info-button {
  background-color: #4373D0;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.info-button:hover {
  background-color: #375eac;
}

@media (max-width: 768px) {
  .button-group {
    margin: 60px auto 20px;
  }

  .button-group button {
    padding: 7px 12px;
  }

  .list-item-img {
    width: 150px;
    height: 100px;
  }

  .place-list {
    gap: 10px;
  }

  .place-item {
    gap: 10px;
  }

  .restaurant-list {
    gap: 10px;
  }

  .restaurant-item {
    gap: 10px;
  }

  .sleep-list {
    gap: 10px;
  }

  .sleep-item {
    gap: 10px;
  }

  .info-button {
    font-size: 10px;
    padding: 5px 7px;
  }
}

@media (max-width: 500px) {
  .list-item-img {
    width: 120px;
    height: 90px;
  }

  .place-info h2 {
    font-size: 4vw;
  }
  
  .place-info p {
    font-size: 3vw;
  }

  .restaurant-info h2 {
    font-size: 4vw;
  }
  
  .restaurant-info p {
    font-size: 3vw;
  }

  .sleep-info h2 {
    font-size: 4vw;
  }
  
  .sleep-info p {
    font-size: 3vw;
  }

  .info-button {
    font-size: 2vw;
    padding: 4px 5px;
  }
}