name: Build & Deploy to AWS CloudFront

on:
  push:
    branches:
      - master
      - hotfix/architecture-ci-cd

jobs:
  build-and-deploy:
    name: Build And Deploy
    runs-on: ubuntu-latest
    env:
      BUCKET: ondegande.site
      DIST: build
      REGION: ap-northeast-2
      DIST_ID: E274S43M08XUWU

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_FE_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_FE_SECRET_ACCESS_KEY }}
        aws-region: ${{env.REGION}}

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '21.1.0'

    - name: Create .env file
      run: |
        echo "REACT_APP_KAKAO_REST_API_KEY=${{ secrets.REACT_APP_KAKAO_REST_API_KEY }}" >> .env
        echo "REACT_APP_KAKAO_JAVASCRIPT_KEY=${{ secrets.REACT_APP_KAKAO_JAVASCRIPT_KEY }}" >> .env
        echo "REACT_APP_SERVICE_KEY=${{ secrets.REACT_APP_SERVICE_KEY }}" >> .env
        echo "REACT_APP_S_SERVICE_KEY=${{ secrets.REACT_APP_S_SERVICE_KEY }}" >> .env

    - name: Install dependencies
      run: npm install

    - name: Build React app
      run: npm run build

    - name: Zip build folder and appspec
      run: zip -r react-app.zip build appspec.yml scripts/

    - name: Copy Build files to the production website with the AWS CLI
      run: |
        aws s3 sync --delete ${{env.DIST}} s3://${{env.BUCKET}}

    - name: Clear Cash
      run: |
        aws cloudfront create-invalidation \
          --distribution-id ${{ env.DIST_ID}} \
          --paths "/*"